{% extends 'base.html.twig' %}

{% block title %}Home Page {% endblock %}

{% block body %}

    <style>
        .title {

            text-align: center;
        }

        .table {
            text-align: center;
        }

    </style>
    <h1 class="title">Home Page</h1>

    <div class="container--fluid text-center">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Registerdate</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.registerdate ? user.registerdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <h1 class="title">Create new Users</h1>

        {{ include('users/_form.html.twig') }}

        <a href="{{ path('users_index') }}">back to list</a>
    {% endblock %}

{% endblock %}
